body {
  font-family: Roboto Mono;
  color: #daddd8;
  background-color: #111d4a;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #daddd8;
}

.main-div {
  width: 80%;
  margin: 0 auto;
  margin-top: 1em;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 2em;
}

.hero-image {
  width: 100%;
  max-width: 350px;
  height: auto;
}

.home-button {
  color: #F4E9CD;
  display: flex;
  gap: 8px;
}

a {
  text-decoration: none;
}

.error-message {
  font-size: 3em;
  text-align: center;
}
