body {
  font-family: Roboto Mono;
  color: #daddd8;
  background-color: #111d4a;
}

.main-div {
    width: 70%;
    margin: 0 auto;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1em;
}